<script lang="ts">
	/*
		TODO fix rotation and reflection as per mayra's notes
			check correct
		TODO add option for applying to the other eyes
	*/
	/* TODO add collapsible sections for each eye message
		SECTIONS:
			original eyes render
			values 0-4, aligned with eyes
			values 0-4, grouped into trigrams in specified read-order
			values 0-4, reflected and or rotated
		*/
	/* TODO add a collapsible section under each eye message for trying to decypher
		SECTIONS:
			number of alphabets to map to
			alphabets (order matters) (eg, 1abcd4kjef7g where value 0 then maps to 1, 1 -> a, 2 -> b etc)
			scroll (wheel?) to change those letter alignments (+5 results in 0 -> 4, 1 -> k, 2 -> j etc)
				this must be done per-alphabet as per first setting
			select how characters get mapped to each alphabet ("12" would map char 1 to alphabet 1, char 2 alphabet 2, char 3 alphabet 1)
				+ toggleable section for mapping rows or columns to specific alphabets
			"copy from" section that copies mapping settings from one eye message to another
		*/
	// TODO decide how to determine application order if rotate and reflect both true
	// TODO implement 180deg rotation of columns, down pointing -> up, or up pointing -> down

	import Toggle from '../components/Toggle.svelte';
	import EyeGroup from '../components/EyeGroup.svelte';

	import type { Config } from '../scripts/process';
	import data from '../scripts/data';
	import process from '../scripts/process';
	import ColorSquare from '../components/ColorSquare.svelte';

	const config: Config = {
		reflect: 0,
		rotate: 0,
		reflectTarget: 'up',
		rotateTarget: 'up',
		outputBase: 10,
		readOrderDown1: 1,
		readOrderDown2: 2,
		readOrderDown3: 3,
		readOrderUp1: 1,
		readOrderUp2: 2,
		readOrderUp3: 3
	};

	const display = {
		groupTrigrams: true,
		showNums: true,
		lineGaps: true,
		showValues: true,
		showRGB: false
	};

	let triplets: number[][][] = process.dataToTriplets(data.eyes.e1, config);
	let bases: string[][] = process.tripletsToBase(triplets, config);
	$: {
		triplets = process.dataToTriplets(data.eyes.e1, config);
		bases = process.tripletsToBase(triplets, config);
	}

	function pointDown(index: number, config: Config): boolean {
		const defaultDown = index % 2 === 0;
		let canReflect = false;
		let canRotate = false;
		if (
			// if usually down and down is targetted
			// or usually up and up is targetted
			(defaultDown && config.reflectTarget !== 'up') ||
			(!defaultDown && config.reflectTarget !== 'down')
		) {
			// can be affected
			canReflect = true;
		}
		if (
			(defaultDown && config.rotateTarget !== 'up') ||
			(!defaultDown && config.rotateTarget !== 'down')
		) {
			canRotate = true;
		}
		if (!(canReflect || canRotate)) {
			// if can't be affected, dont flip
			return defaultDown;
		}
		const reflection = canReflect && config.reflect > 0;
		const rotation = canRotate && config.rotate > 0;
		if (reflection === rotation) {
			// if both effects are in place, dont flip
			return defaultDown;
		}
		// else flip
		return !defaultDown;
	}
</script>

<body>
	<div class="container">
		<h1 class="title is-1">Noita Visual Configurable Eye Trigram Helper</h1>

		<h2 class="title is-2">Config</h2>

		<div class="columns">
			<div class="column">
				<h3 class="title is-3">Read Order Pointing Down</h3>
				<div class="columns">
					<div class="column">
						<h4 class="is-size-4">1</h4>
						<input bind:value={config.readOrderDown1} type="number" class="input is-rounded" />
					</div>
					<div class="column">
						<h4 class="is-size-4">2</h4>
						<input bind:value={config.readOrderDown2} type="number" class="input is-rounded" />
					</div>
					<div class="column">
						<h4 class="is-size-4">3</h4>
						<input bind:value={config.readOrderDown3} type="number" class="input is-rounded" />
					</div>
				</div>
			</div>
			<div class="column">
				<h3 class="title is-3">Read Order Pointing Up</h3>
				<div class="columns">
					<div class="column">
						<h4 class="is-size-4">1</h4>
						<input bind:value={config.readOrderUp1} type="number" class="input is-rounded" />
					</div>
					<div class="column">
						<h4 class="is-size-4">2</h4>
						<input bind:value={config.readOrderUp2} type="number" class="input is-rounded" />
					</div>
					<div class="column">
						<h4 class="is-size-4">3</h4>
						<input bind:value={config.readOrderUp3} type="number" class="input is-rounded" />
					</div>
				</div>
			</div>
		</div>

		<div class="columns">
			<div class="column">
				<h5 class="is-size-5">Reflect</h5>
				<div class="select is-rounded">
					<select bind:value={config.reflect}>
						<option value={0}>None</option>
						<option value={1}>Individual</option>
						<option value={2}>Column (Not Yet Implemented)</option>
					</select>
				</div>
			</div>
			<div class="column">
				<h5 class="is-size-5">Reflection Target</h5>
				<div class="select is-rounded">
					<select bind:value={config.reflectTarget}>
						<option value="up">Up-pointing</option>
						<option value="down">Down-pointing</option>
						<option value="all">All</option>
					</select>
				</div>
			</div>
			<div class="column">
				<h5 class="is-size-5">Rotate</h5>
				<div class="select is-rounded">
					<select bind:value={config.rotate}>
						<option value={0}>None</option>
						<option value={1}>Individual</option>
						<option value={2}>Column (Not Yet Implemented)</option>
					</select>
				</div>
			</div>
			<div class="column">
				<h5 class="is-size-5">Rotation Target</h5>
				<div class="select is-rounded">
					<select bind:value={config.rotateTarget}>
						<option value="up">Up-pointing</option>
						<option value="down">Down-pointing</option>
						<option value="all">All</option>
					</select>
				</div>
			</div>
			<div class="column">
				<h5 class="is-size-5">Output Base</h5>
				<input bind:value={config.outputBase} type="number" class="input is-rounded" />
			</div>
		</div>

		<div class="box">
			<h3 class="is-3 title">Value Display</h3>
			<div class="columns">
				<div class="column">
					<label class="checkbox">
						<input type="checkbox" bind:checked={display.showNums} /> Show eye values
					</label>
				</div>
				<div class="column">
					<label class="checkbox">
						<input type="checkbox" bind:checked={display.showValues} /> Show trigram values (requires
						show grouped)
					</label>
				</div>
				<div class="column">
					<label class="checkbox">
						<input type="checkbox" bind:checked={display.showRGB} /> Show as RGB
					</label>
				</div>
			</div>

			<h3 class="is-3 title">Eye Display</h3>
			<div class="columns">
				<div class="column">
					<label class="checkbox">
						<input type="checkbox" bind:checked={display.groupTrigrams} /> Group in trigrams
					</label>
				</div>
				<div class="column">
					<label class="checkbox">
						<input type="checkbox" bind:checked={display.lineGaps} /> Gaps between lines
					</label>
				</div>
			</div>
		</div>

		<div class="scrolling-wrapper box">
			<div class="section">
				<div class="content is-medium">
					<div class="columns">
						<div class="column">Unique Values: {process.countUnique(bases)}</div>
						<div class="column">Ranges: {process.ranges(bases, config)}</div>
					</div>
					{#if display.showNums}
						<div>
							{#each triplets as line}
								{#each line as g}
									{#each g as n}
										{n}
									{/each}
									{' '}
								{/each}
							{/each}
						</div>
					{/if}
					{#if display.showValues}
						<div>
							{#each bases as line}
								{#each line as g}
									{g}
									{' '}
								{/each}
							{/each}
						</div>
					{/if}
					{#if display.showRGB}
						<div>
							{#each triplets as line}
								{#each line as g}
									<ColorSquare red={g[0]} green={g[1]} blue={g[2]} />
									{' '}
								{/each}
							{/each}
						</div>
					{/if}
				</div>
				{#each triplets as line}
					<div class="eye-line {display.lineGaps ? 'line-buffer' : ''}">
						{#each line as g, i}
							<EyeGroup
								directions={g}
								groupTrigrams={display.groupTrigrams}
								pointDown={pointDown(i, config)}
							/>
						{/each}
					</div>
				{/each}
			</div>
		</div>
	</div>
</body>

<style>
	.eye-line {
		margin-bottom: 11px;
	}

	.eye-line.line-buffer {
		margin-bottom: 33px;
	}

	.scrolling-wrapper {
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;
	}
</style>
