<script lang="ts">
	export let red: number;
	export let green: number;
	export let blue: number;

	$: rgbValue = fromRawEyeValues(red, green, blue);
	function fromRawEyeValues(r: number, g: number, b: number): string {
		const intoVal = (v: number) => (255 / 5) * v;
		return `rgb(${intoVal(r)}, ${intoVal(g)}, ${intoVal(b)})`;
	}
</script>

<block class="square" style:background-color={rgbValue} />

<style>
	.square {
		display: inline-block;
		width: 20px;
		height: 20px;
	}
</style>
