<script lang="ts">
	import eye0 from '/src/eyes/0.png';
	import eye1 from '/src/eyes/1.png';
	import eye2 from '/src/eyes/2.png';
	import eye3 from '/src/eyes/3.png';
	import eye4 from '/src/eyes/4.png';

	export let direction = 0;
	export let classes = '';

	const directionMap: { [key: number]: string } = {
		0: eye0,
		1: eye1,
		2: eye2,
		3: eye3,
		4: eye4
	};
	const directionAltMap: { [key: number]: string } = {
		0: 'centered',
		1: 'top',
		2: 'right',
		3: 'down',
		4: 'left'
	};
</script>

<img src={directionMap[direction]} alt="eye {directionAltMap[direction]}" class="eye {classes}" />

<style>
	:root {
		--eye-pixel: calc(var(--eye-width) / 11);
		--eye-width: 35px;
		--eye-height: calc(var(--eye-pixel) * 7);
	}

	img {
		margin: 0 0;
		padding: 0 0;
	}

	.eye {
		image-rendering: pixelated;
		width: var(--eye-width);
		margin: 0 calc(var(--eye-pixel) / 2);
	}

	.eye-offset-bottom {
		transform: translateX(calc(var(--eye-width) * -1.5 - var(--eye-pixel) * 1.5))
			translateY(calc(var(--eye-height) * (10 / 11)));
		margin-right: calc(var(--eye-width) * -1 - var(--eye-pixel) * 0.5);
	}

	.eye-offset-pos1 {
		transform: translateX(calc(var(--eye-width) * 0.5 + var(--eye-pixel) * 0.5))
			translateY(calc(var(--eye-height) * (10 / 11)));
		margin-right: calc(var(--eye-width) * -0.5 + var(--eye-pixel) * 0.5);
	}

	.eye-offset-pos2 {
		transform: translateX(calc(var(--eye-width) * -1 - var(--eye-pixel) * 1.5))
			translateY(calc(var(--eye-height) * (10 / 11)));
		margin-right: calc(var(--eye-width) * -1.5 - var(--eye-pixel) * 0.5);
	}

	.eye-offset-top {
		transform: translateX(calc(var(--eye-pixel) * -1));
		margin-right: calc(var(--eye-pixel) * -0.5);
	}
</style>
