<script lang="ts">
	import Eye from './Eye.svelte';

	export let directions: number[];
	export let pointDown = true;
	export let groupTrigrams = false;
</script>

<block class="eye-group {groupTrigrams ? 'spaced' : ''}">
	{#if pointDown}
		<Eye classes="" direction={directions[0]} /><Eye classes="" direction={directions[1]} /><Eye
			classes="eye-offset-bottom"
			direction={directions[2]}
		/>
	{:else}
		<Eye classes="eye-offset-pos1" direction={directions[0]} /><Eye
			classes="eye-offset-pos2"
			direction={directions[1]}
		/><Eye classes="eye-offset-top" direction={directions[2]} />
	{/if}
</block>

<style>
	.eye-group.spaced {
		margin-right: 20px;
	}
</style>
