<script lang="ts">
	export let title: string;
	export let value: boolean;
	export let large = false;
</script>

{#if large}
	<h5 class="is-size-5">{title}</h5>
{/if}
<div class="columns">
	<div class="column is-narrow">
		<label class="switch">
			<input bind:checked={value} type="checkbox" />
			<span class="slider round" />
		</label>
	</div>
	{#if !large}
		<div class="column">
			<h5 class="title is-5">{title}</h5>
		</div>
	{/if}
</div>

<style>
	:root {
		--switch-multiplier: {0.5};
	}

	/* The switch - the box around the slider */
	.switch {
		position: relative;
		display: inline-block;
		width: 60px;
		height: 34px;
	}

	/* Hide default HTML checkbox */
	.switch input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	/* The slider */
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: 0.2s;
		transition: 0.2s;
	}

	.slider:before {
		position: absolute;
		content: '';
		height: 26px;
		width: 26px;
		left: 4px;
		bottom: 4px;
		background-color: white;
		-webkit-transition: 0.2s;
		transition: 0.2s;
	}

	input:checked + .slider {
		background-color: #2196f3;
	}

	input:focus + .slider {
		box-shadow: 0 0 1px #2196f3;
	}

	input:checked + .slider:before {
		-webkit-transform: translateX(26px);
		-ms-transform: translateX(26px);
		transform: translateX(26px);
	}

	/* Rounded sliders */
	.slider.round {
		border-radius: 34px;
	}

	.slider.round:before {
		border-radius: 50%;
	}
</style>
